

body {
    margin: 35%;   
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}

.grid {
    display: grid;
    grid-gap: 1px; 
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

section div {
    border: 1px solid black;
    padding: 50%;
    align-items: center;
}